* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #050027, #2e0057);
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  image-rendering: pixelated;
}
